h1{
    text-align: center;
    font-family: 'Trade Winds' ;

}

#table1{
    
    background-color: red;
    width: 100px;
    height: 300px;
}

#table2{
    
    background-color: yellow;
    width: 100px;
    height: 300px;
}

#table3{
    
    background-color: orchid;
    width: 100px;
    height: 300px;
}

#table4{
    
    background-color: blue;
    width:100px;
    height: 300px;
}
#outer{
    
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    width: 30%;
    
}
#table1{
 
    
    column-gap: 40px;
    
    
    
}
#table2{
    border-collapse: separate;
    border-spacing: 50px;
}
#table3{
    border-collapse: separate;
    border-spacing: 50px;
}
#table4{
    border-collapse: separate;
    border-spacing: 50px;
}